*{
    font-family: 'Pirata One', cursive;
  
  }
  h1, h2, ul, table {
    background-color: white;
    opacity: .6;
    margin: auto;
  
  
  }
  #rule-box {
    background-color: white;
    opacity: .6;
    margin: auto;
    border-radius: 15px;
    
  
  }
  #rule-box > h2, ul {
    opacity: 1;
  
  }
  
  
  body {
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
  }
  button:hover {
    background-color: yellow;
  }
  
  table {
    width: 700px;
    height: 700px;
    margin: auto;
    border-radius: 15px;
    border: solid 2px blue;
    padding: 5px;
  }
  
  td {
    border: solid 2px orange;
    text-align:center;
    background-color: violet;
    font-size: 2rem;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px black;
  
  
  }
  
  td:hover {
    background-color: orangered;
    cursor: grab;
    }
  
  #game-name {
  
    margin: auto;
  }
  img {
    animation: bounce 5s infinite;
    animation-timing-function: ease-in-out;
    margin: auto;
  }
  
  
  @keyframes bounce {
    0% {
    transform: scaleX(1.0);
    }
    50% {
      transform: scaleX(1.5);
    }
    100% {
      transform: scaleX(1.0);
    }
  }
  button{
   font-size: medium;
   padding: 10px 24px;
   border-radius: 100px;
   width: 50%;
   margin: auto;
   
  
  }
  